.mainSection {
  max-width: 773px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.pagination {
  margin: 24px auto 44px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 596px;
}
