.favoritePageVacancies {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 676px;
  margin: 40px auto 0px;
  max-width: 773px;
}
.favoritePage {
  display: flex;
  flex-direction: column;
}
