.customHeader {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  position: relative;
  justify-content: center;
  max-width: 1116px;
  align-items: center;
  height: 84px;
}
.header {
  width: 100%;
  background-color: #ffffff;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
}
.linkToPage {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #232134;
  text-decoration: none;
}
.linkToPage_active {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #5e96fc;
  text-decoration: none;
}
.logo {
  position: absolute;
  left: 0px;
}
.headerLink {
  white-space: nowrap;
}
