.searchVacancySection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

.searchVacancyPage {
  max-width: 1116px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
